@font-face {
	font-family: "PlayfairDisplay-Regular";
	src: url("../fonts/PlayfairDisplay/PlayfairDisplay-Regular.ttf");
}
@font-face {
	font-family: "Ubuntu-Light";
	src: url("../fonts/Ubuntu/Ubuntu-Light.ttf");
}

